<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>

        <p>
          本博主大白Bravo Yeung是985高校计算机硕士，目前任职于一家高科技外企。平时的我是知乎干货答主(知乎上有近4万关注者)和CSDN博客专家。
我的公众号【大白技术控】(ID: DaBaiTech)专注于分享IT前沿技术、干货知识、热点资讯等，同时分享硬核的自媒体赚钱方法、推广技巧和运营实战，最近在发力短视频(微信视频号为主)。
有兴趣交流成长的小伙伴可以来撩(微信: iMath7)~
        </p>

         <p>
          <strong>个人公众号</strong>：<a href="#" target="_blank">大白技术控（ID：DabaiTech）</a>，“分享技术、感悟人生”欢迎关注~
        </p>

        <h2>Articles</h2>
        <p>几篇文章，方便让你快速了解我</p>

        <div id='posts'>
          <ul>                    
            <li>
              <p>
                2018/06/03 - <a href="http://geekplayers.com/2018/06/03/calculator_using_caliburn-micro_from0to1/">从0到1：使用Caliburn.Micro(WPF和MVVM)开发简单的计算器</a>
              </p>
            </li>
        
            <li>
              <p>
                2019/03/04 - <a href="http://geekplayers.com/2019/03/04/build_site_guide_using_hexo_and_coding-net_for_beginners/">开发小白也毫无压力的hexo静态博客建站全攻略
- 躺坑后亲诉心路历程</a></p>
            </li>

            <li>
              <p>
                2020/06/26 - <a href="http://geekplayers.com/2020/06/26/wpf-data-binding-debug-guide/">WPF中的Data Binding调试指南</a>
              </p>
            </li>
            
          </ul>
        </div>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>iMath7</strong>（备注：博客）</li>
        </ul>

        <p><strong>Group</strong></p>
        <p>
            <em>创建了一些不同类别的微信群，大家如果有兴趣可以加入，请不要重复入群！
            加入方式：请关注公众号：<b>大白技术控</b>，回复关键字"学习"即可看到~
            </em>
        </p>

       <h2>
         Note
       </h2>

        <p>
         自从写博客开始，开始陆续有一些机会和同行在线上交流，但是也遇到了一些困惑，有的朋友加我之后，直接就抛出一堆错误日志，有的上来默不作声，有的更是质疑不断... 当然更多的是一些友善、有乐趣的朋友。
       </p>

        <p> 大家的时间都很宝贵，为了更高效的交流，我希望您可以这样</p>

       <ul>
         <li>请先自我介绍一下，您在那家公司，做什么工作，怎么称呼？希望和您交流什么？任何深入的交流都是建立在相互了解之上。
        </li>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；如在微信公众号转载请务必附上博客的<b>公众号二维码</b>，谢谢。
        </li>
      </ul>

       <p>
        最后，还是感谢您的来访~
       </p>

       <h2>
         History
       </h2>

       <ul>
            <li>2016年，建站，托管于 Github Pages。</li>
        </ul>

       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放~
       </p>

       <p align="center">
         <img src="./tip.jpg" />
         <br/> 
         微信扫一扫
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>