<div class="read-more">
    <div class="read-more-content author-info">
        <!-- <h3>{{author.name}}</h3> -->
        <div class="author-container">
            {% if author.avatar_url %}
            <img style="width: 32px; border-radius: 50%; display: inline-block; margin-right: 7px;" 
                src="{{author.avatar_url}}" alt="{{author.name}}" />
            {% else %}
            <img style="width: 32px; border-radius: 50%; display: inline-block; margin-right: 7px;"
                src="{{site.url}}/{{author.avatar}}" alt="{{author.name}}" />
            {% endif %}
            <span>
                <a href="{{ author.site }}" class="author-link">{{author.name}}</a>

                {% if page.platform %}
                {% unless page.platform contains '公众号' %}
                <span style="color: #ddd;">首发于: 
                    <a style="color: #164468; text-decoration: underline;" href="{{ page.sourcelink }}">{{ page.platform %}}</a>
                </span>
                {% endunless %}
                {% endif %}
            </span>
            {% if author.bio %}
            <div class="author-bio">{{author.bio}}</div>
            {% endif %}
        </div>

        <div class="author-share">
            {% if author.social %}
            <ul style="padding-top: 10px; list-style-type: none;">
                {% for network in author.social %}
                <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
                {% endfor %}
            </ul>
            {% endif %}
            
            {% if author.github %}
            <a aria-label="Follow @{{author.github}} on GitHub" data-style="mega"
                href="https://github.com/{{author.github}}" class="github-button">Follow @{{author.github}}</a>
            {% endif %}
            <br>
<style>
    .resp-sharing-button__link,
    .resp-sharing-button__icon {
        display: inline-block
    }

    .resp-sharing-button__link {
        text-decoration: none;
        color: #fff !important;
        margin: .5em;
        font-size: 12px
    }

    .resp-sharing-button {
        border-radius: 3px;
        transition: 25ms ease-out;
        padding: 3px 6px;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif
    }

    .resp-sharing-button__icon svg {
        width: 1em;
        height: 1em;
        margin-right: .4em;
        vertical-align: top;
        margin-top: 3px
    }

    .resp-sharing-button--small svg {
        margin: 0;
        vertical-align: middle
    }

    .resp-sharing-button__icon {
        stroke: #fff;
        fill: none
    }

    .resp-sharing-button__icon--solid,
    .resp-sharing-button__icon--solidcircle {
        fill: #fff;
        stroke: none
    }

    .resp-sharing-button--twitter {
        background-color: #55acee
    }

    .resp-sharing-button--twitter:hover {
        background-color: #2795e9
    }

    .resp-sharing-button--facebook {
        background-color: #3b5998
    }

    .resp-sharing-button--facebook:hover {
        background-color: #2d4373
    }

    .resp-sharing-button--facebook {
        background-color: #3b5998;
        border-color: #3b5998
    }

    .resp-sharing-button--facebook:hover,
    .resp-sharing-button--facebook:active {
        background-color: #2d4373;
        border-color: #2d4373
    }

    .resp-sharing-button--twitter {
        background-color: #287ab9;
        border-color: #1c659b;
        margin-left: -5px
    }

    .resp-sharing-button--twitter:hover,
    .resp-sharing-button--twitter:active {
        background-color: #2795e9;
        border-color: #2795e9
    }
</style>
        {% if author.twitter %}
        <a aria-label="Share on Twitter" class="resp-sharing-button__link"
            href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fpublish.twitter.com%2F%3FbuttonType%3DFollowButton%26query%3Dhttps%253A%252F%252Ftwitter.com%252FFollow @{{author.twitter}}%26widget%3DButton&ref_src=twsrc%5Etfw&region=follow_link&screen_name=yanglr&tw_p=followbutton" data-show-count="true" 
            target="_blank">
            <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--large">
                <div aria-hidden="false" class="resp-sharing-button__icon resp-sharing-button__icon--solid"></div>Follow @{{author.twitter}}
            </div>
        </a>
        {% endif %}
        </div>
    </div>
</div>
