<div style="margin-top:2em; padding:0 1.5em; border:1px solid #d3d3d3; background-color:#deebf7">
    <h3>文档信息</h3>
    <ul>
        <li>本文作者：<a href="{{ site.url }}" target="_blank">{{ site.author }}</a></li>
        <li>本文链接：<a href="{{ site.url }}{{ page.url }}" target="_blank">{{ site.url }}{{ page.url }}</a></li>
        <li>版权声明：本文为博主原创或转载文章，欢迎转载，但<b>转载文章之后必须在文章页面明显位置注明出处</b>，否则保留追究法律责任的权利。如您有任何疑问或者授权方面的协商，请留言。）</li>
    </ul>
</div>

<div>
    <p align="center">
        {% if page.copyright %}
        <img src="//cdn.jsdelivr.net/gh/yanglr/yanglr.github.io/assets/images/copyrighttypes/{{ page.copyright }}.jpg"
            width="300" height="300">
        {% else %}
        <img src="//cdn.jsdelivr.net/gh/yanglr/yanglr.github.io/assets/images/dotnet.jpg" width="300" height="300">
        {% endif %}
        <br />
        一个有故事的程序员
    </p>
    <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
        <strong>（转载本站文章请注明作者和出处 <a href="//geekplayers.com">大白技术控-Bravo Yeung-极客玩家</a>）</strong>
    </p>
    <p align="center" style="margin-top: 15px; font-size: 16px;color: #337ab7;">
        <strong><a href="//geekplayers.com" target="_blank">点击了解 ：.NET 技术人的网站</a></strong>
    </p>
</div>