﻿<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/{{ site.favicon }}">

    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
        _atrk_opts = { atrk_acct: "K78pv1Y1Mn20Io", domain: "geekplayers.com", dynamic: true };
        (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=K78pv1Y1Mn20Io" style="display:none" height="1"
            width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->

    <meta name="google-site-verification" content="BET9JmDs21GD9jiA7pSKtIWVVjEs5qJw71jpQTXKDqM" />
    <meta name="baidu-site-verification" content="k7oTa1c7tD" />
    <meta name="msvalidate.01" content="0FE0D36F099AFBB1CAC652EF20A2437F" />
    <title>{% if page.titlebar %} {{ page.titlebar | escape }} - 极客玩家Bravo Yeung博客 {% elsif page.title %} {{ page.title | escape }} -极客玩家Bravo Yeung博客 {% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | escape }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description"
          content="{% if page.excerpt %}{{ page.excerpt | escape }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <!-- Third-Party CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/yanglr/yanglr.github.io/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//geekplayers.com/bower_components/octicons/octicons/octicons.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/yanglr/yanglr.github.io/bower_components/hover/css/hover-min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/yanglr/yanglr.github.io/bower_components/primer-markdown/dist/user-content.min.css">
    <link rel="stylesheet" href="//geekplayers.com/assets/css/syntax.css">
    <link rel="stylesheet" href="//geekplayers.com/assets/css/sidebar-post-nav.css">

    <!-- My CSS -->
    <link rel="stylesheet" href="//geekplayers.com/assets/css/common.css">

    <!-- CSS set in page -->
    {% for css in page.css %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/yanglr/yanglr.github.io/assets/css/{{css}}">
    {% endfor %}
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/yanglr/yanglr.github.io/assets/css/index.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/yanglr/yanglr.github.io/assets/css/sidebar-popular-repo.css"> -->

    <!-- CSS set in layout -->
    {% for css in layout.css %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/yanglr/yanglr.github.io/assets/css/{{css}}">
    {% endfor %}

    <link rel="stylesheet" type="text/css" href="//cdn.staticfile.org/font-awesome/4.6.3/css/font-awesome.min.css">

    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/yanglr/yanglr.github.io/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/yanglr/yanglr.github.io/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
