<div id="search-demo-container" style="margin:5px; padding-left: 40px; padding-right: 32px;">
    <input type="text" id="search-input" placeholder="Search..." style="width:96%; min-height: 35px;">
    <ul id="results-container"></ul>
</div>

<div id='gzh' align="center">
    {% if site.url contains 's' %}
    <h3>欢迎关注我的微信公众号</h3>
    <img style="border:1px solid #dddddd;height:192px;width:192px" src="//geekplayers.com/assets/images/dotnet.jpg"
         alt="闷骚的程序员" />
    {% endif %}
</div>

<div class="card text-center">
    <ul class="list-inline" style="margin-left: 0;">
        <li>
            <a target="_blank" href="https://github.com/yanglr">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.zhihu.com/people/legege007">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa  fa-stack-1x fa-inverse">知</i>
                </span>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://weibo.com/540071991">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://twitter.com/yanglr">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.instagram.com/legege007">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    </ul>
</div>

<h3 class="sidebar-title">精选文章</h3>

{% for article in site.classes  %}
<div class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{ article.name }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    <a href="{{ article.href }}" target="_blank">{{ article.name }}</a>
                </h3>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                <p class="card-text">{{ article.describe }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<br />
<h3 class="sidebar-title">开源软件</h3>
{% if site.github.public_repositories != false %}
{% assign repos = (site.github.public_repositories | sort: "stargazers_count") | reverse | where: "fork", "false" %}
{% for repo in repos | limit: site.side_bar_repo_limit %}
<div class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{ repo.name }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    <a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
                </h3>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                <p class="card-text">{{ repo.description }}</p>
            </div>
            <div class="card-text">
                <span data-toggle="tooltip" class="meta-info" title="{{ repo.stargazers_count }} stars">
                    <span class="octicon octicon-star"></span> {{ repo.stargazers_count }}
                </span>
                <span data-toggle="tooltip" class="meta-info" title="{{ repo.forks_count }} forks">
                    <span class="octicon octicon-git-branch"></span> {{ repo.forks_count }}
                </span>
                <span data-toggle="tooltip" class="meta-info" title="Last updated：{{ repo.updated_at }}">
                    <span class="octicon octicon-clock"></span>
                    <time datetime="{{ repo.updated_at }}"
                        title="{{ repo.updated_at }}">{{ repo.updated_at | date: '%Y-%m-%d %T' }}</time>
                </span>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<script>
    $(document).ready(function () {

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

        $('.geopattern').each(function () {
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>

<script>
    window.simpleJekyllSearch = new SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        json: '/search.json',
        searchResultTemplate: '<li><a href="{url}?query={query}" title="{desc}">{title}</a></li>',
        noResultsText: 'No results found',
        limit: 10,
        fuzzy: false,
        exclude: ['Welcome']
    })
</script>